@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: rgb(35, 87, 241);
	background: radial-gradient(
		circle,
		rgb(28, 160, 243) 0%,
		rgb(29, 32, 169) 100%
	);
	color:white;
}

* {
	box-sizing: border-box; /* Include padding and border in an element's total width and height */
  }

  #scroll-top {
	display: none; /* Hide the button by default */
	position: fixed;
	bottom: 20px;
	right: 15px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	height:55px;
	width:55px;
  }
  @media screen and (min-width: 700px) {
	ul {
	  grid-template-columns: repeat(7, minmax(10rem, 1fr));
	  display: grid;
	}
	#button-container {
		position:absolute;
		right: 2%;
	  top: 20%;;
		
	  }

	  li{
		font-size: 1rem;
		padding: 1rem;
		display: flex; /* Make list items stack vertically */
		width: 10rem;
		height: 10rem;
	  }

	  .today::before {
		content: "";
		position: absolute;
		top: 25%;
		left: 22%;
		width: 40%; /* Adjust to change the size of the circle */
		height: 40%; /* Adjust to change the size of the circle */
		background-color: red; /* Adjust to change the color of the circle */
		border-radius: 50%; /* Makes the shape a circle */
		transform: translate(-50%, -50%); /* Centers the circle */
		z-index: -1; /* Positions the circle behind the text */
	  }
}
  @media (max-width: 600px) {
	body {
	  padding: 0 10px; /* Add some padding to the body to prevent content from touching the edges of the screen */
	  
	}
	#scroll-top {
font-size: 25px;
	}
	h1 {
		font-weight: 800;
		margin: 1rem 0 0;
		font-size:2.5rem;
		
	}
  
	ul {
		list-style-type: none;
		padding: 0;
		display: flex;

	  }
	
	  li {
		font-size: 14px;
		padding: 10px;
		display: block; /* Make list items stack vertically */
		width: 8rem;
		height: 8rem;

	  }
	  #button-container {
		position:relative;
		right: auto;
		left:0%;
	  top: 20%;
	  display: flex; /* Add this line */
	  justify-content: space-between;  
	  

		
	  }
	#button-container button {
	  font-size: 14px;
	  padding: 0px;
	  width: 60%; /* Make the buttons full width to better fit on small screens */
	}
	.today::before {
		content: "";
		position: absolute;
		top: 30%;
		left: 26%;
		width: 45%; /* Adjust to change the size of the circle */
		height: 45%; /* Adjust to change the size of the circle */
		background-color: red; /* Adjust to change the color of the circle */
		border-radius: 50%; /* Makes the shape a circle */
		transform: translate(-50%, -50%); /* Centers the circle */
		z-index: -1; /* Positions the circle behind the text */
	  }

	  #scroll-top {
		display: block;
  }
div{
	align-items: center;
}}

#button-container {
	
	
  }
  
  #button-container button {
	margin: 0.25rem;
	margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;  /* Adjust for a more rounded appearance */
  background-color: white;
  color: blue;
  transition: all 0.3s ease; /* Update to transition all properties */
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Poppins", serif;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add a box-shadow for a 3D effect */
  }
  #button-container button:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); /* Increase the box-shadow on hover */
  }
  
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
	font-size:2.5rem;
	
}

ul {
	
	grid-template-columns: repeat(7, 1fr);
	flex-wrap: wrap;
	list-style: none;

	li {
		
		
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		
		font-weight: 400;
		
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.402);
		color:rgb(255, 255, 255);

		time {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
			color:white;
		}

	}

	li:hover{
		background-color: rgba(0, 0, 0, 0.409);
	}
	.today {
		time {
			font-weight: 800;
			color:white;
		}


		background: #ff000068;
		font-weight: 700;
	}
	
	
}
