body {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    max-width: 600px;
    text-align: center;
}
#inputImage {
    border: none;
}
.btn {
    background-color: #ffffff;
    color: #007bff;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.results {
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
.results-displayed {
background-color: white;
color: #007bff;
}
